{% extends './base.html' %}
{% load static %}
{% block title %}Поиск{% endblock %}

{% block header %}
    {% include './block/search_form.html' %}
{% endblock %}

{% block content %}
<section class="my-post-detail">
    <div class="container">
        <div class="row">
            <!--    ЭТО ЛЕВАЯ КОЛОНКА КОНТЕНТА ПОСТА -->
            <div class="col-lg-12">
                <!--    ЭТО ХЛЕБНЫЕ КРОШКИ -->
                <nav aria-label="breadcrumb" class="my-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Поиск</li>
                    </ol>
                </nav>
                {{ results }}<br>
                {{ count }}
                <!--p class="lead">Найдено записей: 3</p>
                <a href=""><h2>Заголовок поста 1</h2></a>
                <p>Это краткое описание поста. Это краткое описание поста. Это краткое описание поста.</p>
                <hr>
                <a href=""><h2>Заголовок поста 2</h2></a>
                <p>Это краткое описание поста. Это краткое описание поста. Это краткое описание поста.</p>
                <hr>
                <a href=""><h2>Заголовок поста 3</h2></a>
                <p>Это краткое описание поста. Это краткое описание поста. Это краткое описание поста.</p>
                <hr-->
            </div>
        </div>
    </div>
</section>
{% endblock %}
